<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCMS Mission</title>
</head>
<style>
    h1{text-align:center;}
    h2{text-align:center;}
    p{text-align:justify;}
</style>
<body>
    <h1>College of Computing and Multimedia Studies</h1>
    <h2>Mission</h2>
    <p>The University is a private non-stock non-profit non-sectarian educational foundation with a three-fold function - instruction, research, and community service - offering responsive and alternative programs supportive of national development and standards of global excellence.</p>
</body>
</html>