<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCMS Objectives</title>
</head>
<style>
    h1{text-align:center;}
    h2{text-align:center;}
    p{text-align:justify;}
</style>
<body>
    <h1>College of Computing and Multimedia Studies</h1>
    <h2>Program Educational Objectives</h2>
    <p>After graduation, alumni of MSEUF-CSS programs shall:<br>
        1. Be employed and demonstrate professionalism, competence, and passion in solving contemporary computing problems by developing or utilizing innovative IT solutions: <br>
        2. Embark in lifelong learning or research to attune to the continous innovation in the IT industry in order to adopt to the changing demands of the global market: and <br>
        3. Exhibit leadership and teamwork, and commitment to their respective local or global organizations.
    </p>
</body>
</html>