<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCMS Vision</title>
</head>
<style>
    h1{text-align:center;}
    h2{text-align:center;}
    p{text-align:justify;}
</style>
<body>
    <h1>College of Computing and Multimedia Studies</h1>
    <h2>Vision</h2>
    <p>In 2030, the Manuel S. Enverga University Foundation is a globally competitive university with high concentrations of talent, excellent teaching environment, rigorous program quality, sufficient resources, and a culture of collaboration.</p>
</body>
</html>